<div class="container">
  <div class="columns">
  <% @cards.each.with_index(1) do |card, i| %>
    <% if i % 4 == 0 %>
      </div>
      <div class="columns">
    <% end %>
    <div class="column">
      <% @card = card %>
      <%= render "cards/views/#{card.view}" %>
    </div>
  <% end %>
  </div>
</div>