<div id="<%= dom_id @device %>">
  <p>
    <strong>Name:</strong>
    <%= @device.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @device.type %>
  </p>

  <p>
    <strong>Config:</strong>
    <%= @device.config %>
  </p>

</div>
